/* style.css */

body {
    background-color: #f0f8ff;
    font-family: sans-serif;
    line-height: 1.6;
}

h1 {
    color: #333;
    text-align: center;
}

p {
    color: #555;
    width: 80%;
    margin: 0 auto
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    display: block; 
    margin: 20px auto;
}

h2 {
    color: #1a5e9a;
    border-bottom: 2px solid #ddd;
    width: 80%;
    margin: 30px auto 15px auto;
}

ul {
    width:75%;
    margin: 0 auto;
    padding-left: 20px;
}

li {
    color: #444;
    margin-bottom: 8px;
}

a {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 15px; /*内側の余白*/
    border-radius: 5px;
    margin-top: 10px; /*上の余白*/
    font-weight: bold;
}

a:hover {
    background-color: #0056b3;
}