/* style.css */

body {
    background-color: #f0f8ff;
    font-family: sans-serif;
    line-height: 1.6;
}

h1 {
    color: #333;
    text-align: center;
}

p {
    color: #555;
    width: 80%;
    margin: 0 auto
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    display: block; 
    margin: 20px auto;
}